# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
*/coverage

# production
*/build
cms/public
Backend/public
Backend/uploads
Frontend/public/*.js
Frontend/public/*.jsgz
package-lock.json

# misc
.env
.env.production
*/.vs
