# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
*/coverage

# production
cms/public
Backend/public
Frontend/public/*.js
Frontend/public/*.jsgz
package-lock.json

# misc
*/*.env
*/.vs
